:root {
  --primary: #434563;
  --black: #000000;
  --white: #ffffff;
  --offwhite: #F9F9F9;
  --grey: rgb(103, 103, 103);
  --shadow-dark: 0 1rem 2rem rgba(0, 0, 0, .2);
  --shadow-light: 0 1rem 2rem rgba(0, 0, 0, .1);
  --default-font-size: 1.6rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4rem;
  box-sizing: border-box;
  background-color: var(--offwhite); }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 1.5rem; } }

a:link {
  text-decoration: none; }

a:focus {
  outline: 2px solid var(--primary);
  outline-offset: 5px; }

ul {
  list-style-type: none; }

.heading-primary {
  font-family: 'Hind', sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      text-align: center; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 3.2rem;
      line-height: 4rem; } }

.project-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 7rem;
  font-weight: bold;
  line-height: 7.8rem;
  margin-bottom: 3.7rem; }

.project-pre-head {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.7rem;
  margin-bottom: .7rem; }

.project-sub-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.9rem;
  font-weight: 500;
  line-height: 4rem;
  margin-bottom: 3.7rem; }

.sub-head {
  font-family: 'Hind', sans-serif;
  font-size: 2rem; }

.paragraph {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--default-font-size);
  line-height: 3rem;
  color: var(--grey); }

.caption {
  font-family: 'Montserrat', sans-serif;
  color: var(--grey);
  text-align: center;
  font-size: 1.6rem;
  border-bottom: 2px solid transparent;
  padding-bottom: .5rem;
  transition: color .3s; }
  .caption:hover {
    color: var(--primary); }
  .caption:active {
    outline: none;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--primary); }

.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--default-font-size); }

.footer {
  font-family: 'Montserrat', sans-serif; }

.u-accent-color {
  color: var(--primary); }

.u-padding-lf {
  padding: 0 1.5rem; }
  @media only screen and (max-width: 75em) {
    .u-padding-lf {
      padding: 0 .3rem; } }

.u-bold {
  font-weight: 700;
  color: rgba(var(--primary), 0.8);
  letter-spacing: 1px; }

.u-photo-auto-resize {
  max-width: 100%;
  height: auto; }

.u-center-text {
  text-align: center; }

.u-center {
  margin: 0 auto; }

.u-space-headers {
  margin-bottom: 1rem; }

.u-space-paragraphs {
  margin-top: 2rem; }

.btn-read {
  border: transparent;
  background: transparent;
  padding: 5px 8px;
  color: var(--primary);
  border-bottom: 0.2rem solid var(--primary);
  transition: transform .3s, box-shadow .5s, background-color .3s, color .3s; }
  .btn-read:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    box-shadow: var(--shadow-light);
    transform: translateY(-1px); }
  .btn-read:active {
    box-shadow: var(--shadow-dark);
    transform: translateY(1px); }
  .btn-read:focus {
    cursor: pointer;
    outline: 2px solid var(--primary);
    outline-offset: 0px;
    border: none;
    transform: translateY(1px); }

.btn-text:link, .btn-text:visited {
  color: var(--primary);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--primary);
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: var(--primary);
  color: var(--white);
  box-shadow: var(--shadow-dark);
  transform: translateY(-4px); }

.btn-text:active {
  box-shadow: var(--shadow-dark);
  transform: translateY(0); }

.btn-text:focus {
  cursor: pointer;
  outline: 2px solid var(--primary);
  outline-offset: 0px;
  border: none;
  transform: translateY(1px); }

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
  max-width: 90rem;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    .projects-container {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); } }

.project-card {
  box-shadow: var(--shadow-light);
  padding: 3rem;
  border-radius: 1rem;
  background: linear-gradient(135deg, rgba(128, 128, 128, 0.1), transparent);
  border-top: 5px solid #dfd7d4;
  display: grid;
  gap: 1.5rem;
  align-content: flex-start;
  transition: all .5s; }
  @media only screen and (max-width: 56.25em) {
    .project-card {
      justify-items: center; } }
  .project-card:hover {
    box-shadow: var(--shadow-dark);
    transform: scale(1.01); }
  .project-card__img {
    max-height: 100rem;
    box-shadow: var(--shadow-light);
    border-radius: .5rem; }
  .project-card__name {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.2; }
  @media only screen and (max-width: 56.25em) {
    .project-card__description {
      text-align: center; } }
  .project-card__tags {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 56.25em) {
      .project-card__tags {
        justify-content: center; } }

.project-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.6rem;
  margin-top: 7rem;
  text-align: left;
  align-items: center; }
  .project-header__text {
    grid-column: 1/8; }
    .project-header__text--title {
      margin-bottom: 3rem; }
  .project-header__img {
    grid-column: 8/13; }
    .project-header__img--placeholder {
      height: 45.7rem;
      width: 100%;
      background-color: blue; }

@media only screen and (max-width: 37.5em) {
  .overview {
    margin: var(--space-sections-sm) auto; } }

.overview--subhead {
  margin-top: 3rem; }

.overview--para {
  margin-top: 1.5rem; }

.overview__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-auto-rows: auto;
  justify-content: center;
  gap: 5rem;
  margin-top: 3.5rem;
  font-size: var(--default-font-size);
  font-family: 'Montserrat', sans-serif; }
  @media only screen and (max-width: 37.5em) {
    .overview__list {
      grid-template-columns: auto;
      text-align: center; } }
  .overview__list--heads {
    margin-bottom: 1rem; }
  .overview__list--bullets {
    color: var(--grey);
    padding: .3rem; }
  .overview__list .last-item {
    margin-top: 2rem; }

.skill-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-light);
  width: 25rem;
  margin: 3rem; }
  .skill-card--heading {
    background-color: var(--primary);
    display: inline-block;
    padding: 1rem;
    border-radius: .5rem .5rem 0 0;
    color: white;
    letter-spacing: 1px; }
  .skill-card__list {
    list-style-type: none;
    background-color: white;
    display: grid;
    border-radius: 0 0 .5rem .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--default-font-size);
    color: black; }
    .skill-card__list--item {
      padding: 1rem 4rem; }
    .skill-card__list:last-child {
      padding-bottom: 1rem; }

.tag {
  padding: .5rem 1rem;
  border-radius: 1rem;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: var(--primary);
  color: white;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 1.2rem; }
  @media only screen and (max-width: 56.25em) {
    .tag:last-child {
      margin-bottom: 0; } }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem; }
  .nav__logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--black);
    border: transparent;
    background: transparent; }
  .nav__links-text {
    font-family: 'Hind', sans-serif;
    font-size: 2rem;
    color: var(--black); }
    .nav__links-text:not(:last-child) {
      margin-right: 3rem; }
    .nav__links-text:hover {
      color: var(--primary); }
  @media only screen and (max-width: 37.5em) {
    .nav {
      padding: 2rem; } }

.hero__heading {
  text-align: center;
  margin-top: 3rem; }

.hero__project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 43.3rem));
  grid-auto-rows: auto;
  gap: 4rem;
  justify-content: center;
  margin-top: 4rem; }
  .hero__project__text {
    display: grid;
    gap: 1.5rem;
    align-content: center; }
    @media only screen and (max-width: 56.25em) {
      .hero__project__text {
        justify-items: center;
        text-align: center;
        margin-top: 0; } }
    .hero__project__text--title {
      font-weight: 600; }
    .hero__project__text--features {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5rem;
      padding-bottom: .6rem;
      letter-spacing: 1px;
      font-weight: normal;
      color: var(--primary); }
    .hero__project__text--description {
      width: 78%; }
      @media only screen and (max-width: 56.25em) {
        .hero__project__text--description {
          text-align: center;
          width: 90%; } }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10rem;
  margin-top: var(--space-sections); }
  @media only screen and (max-width: 37.5em) {
    .footer {
      margin-bottom: 3rem; } }
  .footer__logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--black);
    border: transparent;
    background: transparent; }
    .footer__logo:hover {
      color: var(--primary); }
  .footer__links-text {
    font-family: 'Hind', sans-serif;
    font-size: 2rem;
    color: var(--black); }
    .footer__links-text:not(:last-child) {
      margin-right: 3rem; }
    .footer__links-text:hover {
      color: var(--primary); }

.home-container {
  display: grid;
  gap: 20rem;
  margin-top: 15rem;
  margin-bottom: 20rem; }
  @media only screen and (max-width: 37.5em) {
    .home-container {
      gap: 9rem; } }

.section-skills {
  text-align: center;
  max-width: 90%;
  margin: 0 auto; }
  .section-skills .skills-container {
    display: flex;
    margin-top: 5rem;
    flex-wrap: wrap;
    justify-content: center; }

.section-about .about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-auto-rows: auto;
  gap: 5rem;
  margin: 0 auto;
  max-width: 90%; }
  @media only screen and (max-width: 37.5em) {
    .section-about .about {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); } }
  .section-about .about__paragraphs--paragraph:not(:last-child) {
    margin-bottom: 2rem; }
  .section-about .about__img--main {
    max-width: 100%;
    height: auto; }

.section-contact {
  text-align: center; }
  .section-contact .contact {
    list-style-type: none; }
    .section-contact .contact__text {
      font-family: 'Montserrat', sans-serif;
      font-size: var(--default-font-size);
      line-height: 3.4rem;
      color: var(--black); }
      .section-contact .contact__text--link:link {
        color: var(--black); }
      .section-contact .contact__text--link:hover {
        color: var(--white); }

.section-thought {
  margin: var(--space-sections) auto; }
  .section-thought .thought__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-auto-rows: auto;
    grid-row-gap: 2rem;
    grid-column-gap: 5rem;
    margin-top: 3rem; }
    .section-thought .thought__grid--item1 {
      box-shadow: var(--shadow-light); }
    .section-thought .thought__grid--item2 {
      align-self: end; }
    .section-thought .thought__grid--item3 {
      text-align: left;
      margin-top: 1rem; }

.section__wire-frames {
  margin-top: var(--space-sections); }
  @media only screen and (max-width: 37.5em) {
    .section__wire-frames {
      margin: var(--space-sections-sm) auto; } }
  .section__wire-frames .wire-frames__text--title {
    margin-bottom: var(--space-heads); }
  .section__wire-frames .wire-frames__text--paras {
    columns: 2;
    column-gap: 6rem; }
    @media only screen and (max-width: 37.5em) {
      .section__wire-frames .wire-frames__text--paras {
        columns: 1; } }
  .section__wire-frames .wire-frames__imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-auto-rows: auto;
    gap: 5rem;
    justify-items: center;
    margin: 4rem auto; }
    .section__wire-frames .wire-frames__imgs--img {
      max-width: 45rem;
      box-shadow: var(--shadow-light); }
    .section__wire-frames .wire-frames__imgs--caption {
      text-align-last: left;
      margin-top: 2rem; }

.section__final {
  margin-top: var(--space-sections); }
  @media only screen and (max-width: 37.5em) {
    .section__final {
      margin: var(--space-sections-sm) auto; } }
  .section__final .final__imgs {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    gap: 4rem;
    justify-items: center;
    margin: 2rem auto; }
    @media only screen and (max-width: 37.5em) {
      .section__final .final__imgs {
        grid-template-columns: 1fr; } }
    .section__final .final__imgs--img {
      box-shadow: var(--shadow-light);
      width: 100%; }
  .section__final .final__text {
    max-width: 75rem;
    margin: 5rem auto; }
