:root {
    // colors
    --primary: #434563;
    --black: #000000;
    --white: #ffffff;
    --offwhite: #F9F9F9;

    --grey: rgb(103, 103, 103);

    //shadows
    --shadow-dark: 0 1rem 2rem rgba(0, 0, 0, .2);
    --shadow-light: 0 1rem 2rem rgba(0, 0, 0, .1);

    //spacing
    --space-sections: 18.7rem;
    --space-sections-sm: 8rem;
    --space-heads: 1.5rem;


    //font
    --default-font-size: 1.6rem;
}