// abstracts
@import "abstracts/variables";

// base
@import "base/base";
@import "base/typography";
@import "base/utilities";

// componets
@import "componets/button";
@import "componets/project-box";

// layout
@import "layout/grid";

// pages
@import "pages/home";

a:hover {
    color: $color--primary--dark;
}

.info-container {
    // margin-top: 1.8rem;
}


.paragraph:nth-child(2) {
    margin-top: 3rem;
}





/* nav */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
}

.nav__links {
    display: flex;
}



.skills-list {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

li {
    list-style-type: none;
}

.img {
    background-color: rgb(255, 183, 183);
    height: 28.5rem;
    width: 41.5rem;
}



.material-icons {
    font-size: 1rem
}

.footer-text>a:hover {
    color: $color--primary--dark;
}