.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $space-sections;
    margin-bottom: 10rem;

    &__logo {
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        font-weight: 700;
        color: black;

        &:hover {
            color: $primary;
        }
    }

    &__links {
        &-text {
            font-family: 'Hind', sans-serif;
            font-size: 2rem;
            color: black;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            &:hover {
                color: $primary;
            }
        }
    }
}