.footer {
    @include header;
    margin-bottom: 10rem;
    margin-top: $space-sections;

    @include respond(phone) {
        margin-bottom: 3rem;
    }

    &__logo {
        @include logoStyle;

        &:hover {
            color: $primary;
        }
    }

    &__links {
        &-text {
            @include linkText;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            &:hover {
                color: $primary;
            }
        }
    }
}