.hero {

    &__heading {
        margin-top: 3rem;
        text-align: center;
    }

    &__project {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 43.3rem));        grid-auto-rows: auto;
        grid-gap: 4rem;
        justify-content: center;

        margin-top: 4rem;

        &__text {
            display: grid;
            grid-gap: 2rem;
            align-content: flex-start;

            margin-top: 6rem;

            &--title {
                font-weight: 600;
                display: inline-block;
            }

            &__tags {
                // margin-top: 2rem;
            }

            &--description {
                // margin-top: 2rem;
                width: 78%;
            }

        }

    }
}