.hero {

    &__heading {
        text-align: center;
        margin-top: 3rem;
    }

    &__project {
        // grid
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 43.3rem));
        grid-auto-rows: auto;
        gap: 4rem;
        justify-content: center;

        margin-top: 4rem;

        &__text {
            // grid
            display: grid;
            gap: 2rem;
            align-content: center;

            @include respond (tab-port) {
                justify-items: center;
                text-align: center;
                margin-top: 0;
            }

            &--title {
                font-weight: 600;
            }

            &--description {
                width: 78%;

                @include respond (tab-port) {
                    text-align: center;
                    width: 90%;
                }
            }

        }

    }
}