.nav {
    @include header;

    margin-top: 6rem;

    &__logo {
        @include logoStyle;
    }

    &__links {
        &-text {
            @include linkText;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            &:hover {
                color: $primary;
            }
        }
    }

    @include respond(phone){
        padding: 2rem;
    }
}