.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;

    &__logo {
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        font-weight: 700;
    }

    &__links {
        &-text {
            font-family: 'Hind', sans-serif;
            font-size: 2rem;
            color: $color--black;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            &:hover {
                color: $color--primary;
            }
        }
    }
}