* {
    padding: 0;
    margin: 0;

}

:root {
    --main--color: #2E64C6;
    --main--hover--color: rgb(27, 62, 126);
}

body {
    max-width: 1087px;
    margin: 0 auto;
    padding: 0 40px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--main--color);
}

/* type */
.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700
}

.title {
    font-family: 'Hind', sans-serif;
    font-size: 40px;
    line-height: 50px;
}

.sub-head {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
}

.body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: rgb(114, 114, 114);
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.read-more{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.info-container {
    margin-top: 18px;
}

.contact-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 31px;
}

.paragraphs {
    margin-top: 21px;
}

.body:nth-child(2) {
    margin-top: 30px;
}

/* spacing */
.intro {
    margin-top: 64px;
}

.define {
    color: var(--main--color);
}

.skills,
.projects,
.contact {
    margin: 187px auto;
}

.bold {
    font-weight: bold;
}

/* nav */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.r-nav {
    display: flex;
}

.nc:nth-child(n) {
    margin-left: 30px;
}

/* intro */
.intro {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 40px;
}

.intro-email {
    text-align-last: right;
}

/* skills */
.skills {
    max-width: 773px;
    text-align: center;
}

.skills-list {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
}

/* projects */
.projects>.title {
    text-align: center;
}

.project-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 40px;
    justify-content: center;
    grid-gap: 50px;
}

.img {
    background-color: rgb(255, 183, 183);
    height: 285px;
    width: 415px;
}

.item>.title {
    margin-top: 30px;
}
.item>.body{
    max-width: 80%;
}
.item>.read-more{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.material-icons{
    font-size: 1em
}



/* contact */
.contact {
    text-align: center;
}

/* footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer-text>a:hover {
    color: var(--main--hover--color);
}