.heading-primary {
    font-family: 'Hind', sans-serif;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 700;

    @include respond(tab-port) {
        text-align: center;
    }

    @include respond(phone) {
        font-size: 3.2rem;
        line-height: 4rem;
    }
}

.project-title {
    font-family: var(--font-montserrat);
    font-size: 7rem;
    font-weight: bold;
    line-height: 7.8rem;
    margin-bottom: 3.7rem;
}

.project-pre-head {
    font-family: var(--font-montserrat);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.7rem;
    margin-bottom: .7rem;
}

.project-sub-title {
    font-family: var(--font-montserrat);
    font-size: 2.9rem;
    font-weight: 500;
    line-height: 4rem;
    margin-bottom: 3.7rem;
}

.section-heading{
    font-family: var(--font-montserrat);
    font-size: 5.2rem;
}

.context-block-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.9rem;
    line-height: 3.7rem;
}

.list-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.9rem;
    line-height: 3.7rem;
    margin-bottom: 2rem;
}

.list-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    line-height: 3.7rem;
    margin-bottom: .7rem;
}

.paragraph {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: #505050;
}

.sub-head {
    font-family: 'Hind', sans-serif;
    font-size: 2rem;
}


.caption {
    font-family: 'Montserrat', sans-serif;
    color: var(--grey);
    text-align: center;
    font-size: 1.6rem;
    border-bottom: 2px solid transparent;
    padding-bottom: .5rem;


    &:hover {
        color: var(--primary);
    }

    &:active {
        outline: none;
        padding-bottom: .5rem;
        border-bottom: 2px solid var(--primary);
    }

    transition: color .3s;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--default-font-size);
}

.footer {
    font-family: 'Montserrat', sans-serif;
}