.heading-primary {
    font-family: 'Hind', sans-serif;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 700;

    @include respond(tab-port) {
        text-align: center;
    }

    @include respond(phone) {
        font-size: 3.2rem;
        line-height: 4rem;
    }
}

.sub-head {
    font-family: 'Hind', sans-serif;
    font-size: 2rem;
}

.paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--default-font-size);
    line-height: 3rem;
    color: var(--grey);
}

.caption {
    font-family: 'Montserrat', sans-serif;
    color: var(--grey);
    text-align: center;
    font-size: 1.6rem;
    border-bottom: 2px solid transparent;
    padding-bottom: .5rem;


    &:hover {
        color: var(--primary);
    }

    &:active{
        outline: none;
        padding-bottom: .5rem;
        border-bottom: 2px solid var(--primary);
    }

    transition: color .3s;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--default-font-size);
}

.footer {
    font-family: 'Montserrat', sans-serif;
}