.u-accent-color {
    color: var(--primary);
}

.u-padding-lf {
    padding: 0 1.5rem;

    @include respond(tab-land) {
        padding: 0 .3rem;
    }
}

.u-light {
    font-weight: 200;
}

.u-normal {
    font-weight: normal;
}

.u-bold {
    font-weight: 700;
}

.u-photo-auto-resize {
    max-width: 100%;
    height: auto;
}

.u-center-text {
    text-align: center;
}

.u-mb-sm {
    margin-bottom: 1rem;
}

.u-mt-sm {
    margin-top: 1rem;
}

.u-upper {
    text-transform: uppercase;
}

.u-center {
    margin: 0 auto;
}

.u-space-headers {
    margin-bottom: 1rem;
}

.u-space-paragraphs {
    margin-top: 2rem;
}