.u-accent-color {
    color: $primary;
}

.u-padding-lf {
    padding: 0 1.5rem;
}

.u-bold {
    font-weight: bold;
}

.u-photo-auto-resize {
    max-width: 100%;
    height: auto;
}

.u-center-text {
    text-align: center;
}

.u-space-headers {
    margin-bottom: $space-heads;
}