// CONTENT CONTAINER
.home-container {
    display: grid;
    gap: 20rem;
    margin-top: 15rem;
    margin-bottom: 20rem;
    // max-width: 90rem;

    @include respond(phone) {
        gap: 9rem;
    }
}


// SKILLS
.section-skills {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;

    .skills-container {
        display: flex;
        margin-top: 5rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}

// ABOUT ME  
.section-about {

    .about {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-auto-rows: auto;
        gap: 5rem;
        margin: 0 auto;

        max-width: 90%;

        @include respond(phone) {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }

        &__paragraphs {

            &--paragraph {
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }
        }

        &__img {
            &--main {
                max-width: 100%;
                height: auto;
            }
        }
    }
}


// CONTACT
.section-contact {
    text-align: center;

    .contact {
        list-style-type: none;

        &__text {
            font-family: 'Montserrat', sans-serif;
            font-size: var(--default-font-size);
            line-height: 3.4rem;
            color: var(--black);

            &--link {
                &:link {
                    color: var(--black);
                }

                &:hover {
                    color: var(--white);
                }
            }
        }
    }
}