.intro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-auto-rows: auto;
    gap: 5rem;
    margin-top: 10rem;

    @include respond(phone) {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    &__paragraphs {
        margin-top: 3rem;

        &--paragraph {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    &__img {
        &--main {
            max-width: 100%;
            height: auto;
        }
    }

}

.section-skills {
    margin-top: var(--space-sections);
    text-align: center;

    .skills-list {
        display: flex;
        justify-content: space-evenly;
        flex-flow: wrap;

        text-align: center;
        margin: 3rem auto;

        &__item {
            padding: 0 1rem;
            list-style-type: none;
        }
    }
}

.section-projects {
    margin-top: var(--space-sections);
}

.section-contact {
    margin-top: var(--space-sections);
    text-align: center;

    .contact {
        list-style-type: none;

        &__text {
            font-family: 'Montserrat', sans-serif;
            font-size: var(--default-font-size);
            line-height: 3.4rem;
            color: var(--black);

            &--link {
                &:link {
                    color: var(--black);
                }

                &:hover {
                    color: var(--white);
                }
            }
        }
    }
}