.intro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-auto-rows: auto;
    grid-gap: 4rem;

    margin-top: 6.4rem;

}

.section-skills {
    margin: 18.7rem auto;
    text-align: center;

}

.section-projects {
    margin: 18.7rem auto;
}

.section-contact {
    margin: 18.7rem auto;
    text-align: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
}