.section-thought {
    margin: var(--space-sections) auto;

    .thought__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-auto-rows: auto;
        grid-row-gap: 2rem;
        grid-column-gap: 5rem;

        margin-top: 3rem;

        &--item1 {
            box-shadow: var(--shadow-light);
        }

        &--item2 {
            align-self: end;
        }

        &--item3 {
            text-align: left;
            margin-top: 1rem;
        }
    }
}

.section__wire-frames {
    margin-top: var(--space-sections);

    @include respond(phone) {
        margin: var(--space-sections-sm) auto;
    }

    .wire-frames__text {

        &--title {
            margin-bottom: var(--space-heads);
        }

        &--paras {
            columns: 2;
            column-gap: 6rem;

            @include respond(phone) {
                columns: 1;
            }
        }
    }

    .wire-frames__imgs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-auto-rows: auto;
        grid-gap: 5rem;
        justify-items: center;

        margin: 4rem auto;

        &--img {
            max-width: 45rem;
            box-shadow: var(--shadow-light);
        }

        &--caption {
            text-align-last: left;
            margin-top: 2rem;
        }
    }
}

.section__final {
    margin-top: var(--space-sections);

    @include respond(phone) {
        margin: var(--space-sections-sm) auto;
    }

    .final__imgs {
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-rows: auto;
        grid-gap: 4rem;
        justify-items: center;

        @include respond(phone) {
            grid-template-columns: 1fr;
        }

        margin: 2rem auto;

        &--img {
            box-shadow: var(--shadow-light);
            width: 100%;
        }
    }

    .final__text {
        max-width: 75rem;
        margin: 5rem auto;
    }
}