.project-card {
    box-shadow: var(--shadow-light);
    padding: 3rem;
    border-radius: 1rem;
    background: linear-gradient(135deg, rgba(grey, .1), transparent);
    border-top: 5px solid #dfd7d4;

    // grid
    display: grid;
    gap: 1.5rem;
    align-content: flex-start;

    @include respond (tab-port) {
        justify-items: center;
    }

    &:hover {
        box-shadow: var(--shadow-dark);
        transform: scale(1.01);
    }

    &__img {
        max-height: 100rem;
        box-shadow: var(--shadow-light);
        border-radius: .5rem;
    }

    &__name {
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 1.2;
    }

    &__description {

        @include respond (tab-port) {
            text-align: center;
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;

        @include respond (tab-port) {
            justify-content: center;
        }
    }


    transition: all .5s;
}