.project-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.6rem;
    // height: 80vh;

    margin-top: 7rem;

    text-align: left;
    align-items: center;

    &__text {
        grid-column: 1/8;

        &--pre-head {}

        &--title {
            margin-bottom: 3rem;
        }

        &--sub-head {}
    }

    &__img {
        grid-column: 8/13;

        &--placeholder {
            height: 45.7rem;
            width: 100%;
            background-color: blue;
        }

    }
}