.project-intro {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.6rem;

    margin-top: 20rem;
    margin-bottom: 20rem;

    &--header {
        grid-column: 1/9;
    }

    &__client-bio {
        grid-column: 1/9;

        &--header {}

        &--para {}
    }

    &__list-container {
        grid-column: 10/13;


        display: grid;
        gap: 3.7rem;

        &--list {}
    }
}