.process {
    display: grid;
    gap: 25rem;

    &__intro {
        &--para {
            width: 75%;
        }
    }

    &__summary {}

    &__stage-01 {
        &__heading {
            &--para {
                width: 70%;
            }
        }

        &__figure {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(42rem, 1fr));
            margin-top: 17rem;
            justify-items: center;
            gap: 3rem;
        }
    }

    &__stage-02 {

        &__heading {
            &--para {
                width: 70%;
            }
        }
    }
}