.project-situation {
    &--pre-head {
        font-family: var(--font-montserrat);
        font-size: 2.9rem;
        margin-bottom: 3.4rem;
    }

    &--para {
        font-family: var(--font-montserrat);
        font-size: 7.6rem;
        line-height: 11.1rem;
    }
}