.btn-read {
    // default
    border: transparent;
    background: transparent;
    padding: 5px 8px;
    color: var(--primary);
    border-bottom: .2rem solid var(--primary);

    &:hover {
        cursor: pointer;
        background-color: var(--primary);
        color: white;
        box-shadow: var(--shadow-light);
        transform: translateY(-1px);
    }

    &:active {
        box-shadow: var(--shadow-dark);
        transform: translateY(1px);
    }

    &:focus {
        cursor: pointer;
        outline: 2px solid var(--primary);
        outline-offset: 0px;
        border: none;
        transform: translateY(1px);
    }

    // transitions
    transition: transform .3s,
    box-shadow .5s,
    background-color .3s,
    color .3s;
}