.btn-read {
    border: transparent;
    background: transparent;
    // outline: none;
    padding: 5px 8px;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);

    &:hover {
        cursor: pointer;
        box-shadow: var(--shadow-light);
    }

    &:focus {
        outline: 2px solid var(--primary);
        outline-offset: 0px;
        cursor: pointer;
        border: none;
    }

    &:active {
        transform: translateY(5px);
        box-shadow: var(--shadow-dark);
    }

    transition: transform .5s,
    box-shadow .5s;
}