
.btn-text {

    &:link,
    &:visited {
        color: $color--primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color--primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color--primary;
        color: $color--white;
        box-shadow: 0 1rem 2rem rgba($color--black, .15);
        transform: translateY(-4px)
    }

    &:active {
        box-shadow: 0 1rem 2rem rgba($color--black, .15);
        transform: translateY(0)
    }
}