.overview {
    max-width: 75rem;
    margin: var(--space-sections) auto;

    @include respond(phone) {
        margin: var(--space-sections-sm) auto;
    }

    &--subhead {
        margin-top: 3rem;
    }

    &--para {
        margin-top: 1.5rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
        grid-auto-rows: auto;
        justify-content: center;
        gap: 5rem;

        margin-top: 3.5rem;
        font-size: var(--default-font-size);
        font-family: 'Montserrat', sans-serif;

        @include respond(phone) {
            grid-template-columns: auto;
            text-align: center;
         }

        &--heads {
            margin-bottom: 1rem;
        }

        &--bullets {
            color: var(--grey);
            padding: .3rem;
        }

        .last-item {
            margin-top: 2rem;
        }
    }
}