.project-header {
    margin-top: 7rem;
    text-align: center;

    &--title {
        text-align: center;
        margin-bottom: 3rem;
    }

    &--img {
        box-shadow: var(--shadow-light);
        display: block;
        margin: 0 auto;
    }

    &--caption {
        display: inline-block;
        margin-top: 2rem;
    }
}