.overview {
    max-width: 75rem;
    margin: $space-sections auto;

    @include respond(phone) {
        margin: $space-sections-sm auto;
    }

    &--subhead {
        margin-top: 3rem;
    }

    &--para {
        margin-top: 1.5rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
        grid-auto-rows: auto;
        justify-content: center;
        grid-gap: 5rem;

        margin-top: 3.5rem;

        font-size: $default-font-size;
        font-family: 'Montserrat', sans-serif;

        @include respond(phone) {
            grid-template-columns: auto auto;
            text-align: center;

        }

        &--heads {
            margin-bottom: 1rem;
        }

        &--bullets {
            color: $grey;
            padding: .3rem;
        }

        .last-item {
            margin-top: 2rem;
        }
    }
}