.project-header {
    margin-top: 7rem;

    &--title {
        text-align: center;
    }

    .header__grid {
        display: grid;
        justify-content: center;
        gap: 2.5rem;
    }

    &--img {
        margin-top: var(--space-heads);
        box-shadow: var(--shadow-light);
    }
}