.tag {
  //size
  padding: .5rem 1rem;
  border-radius: 1rem;
  display: inline-block;

  //spacing with others
  margin-right: 1rem;
  margin-bottom: 1rem;

  &:last-child {
    @include respond (tab-port) {
      margin-bottom: 0;
    }

  }

  //color
  background-color: var(--primary);
  color: white;

  //typography
  font-family: Montserrat;
  font-weight: normal;
  font-size: 1.2rem;
}